{% extends "myblog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper row2">
  <div id="hpage_featured" class="clear"> 
    <!-- ####################################################################################################### -->



    <div id="featured_slide">
      <ul>
        <li><img src="{% static 'images/1.jpg' %}" alt="" />
          <div class="panel-overlay">
            <h2>Baza</h2>
            <p>No more confussion about when and how you will do it just post your question <a href="#">You will be answered  &raquo;</a></p>
          </div>
        </li>
        <li><img src="{% static 'images/2.jpg' %}" alt="" /></li>
        <li><img src="{% static 'images/3.jpg' %}" alt="" />
          <div class="">
            <h2>It is easy and Friendly so dont wait it's your time to ask</h2>
            <p>Justolacus eger at pede felit in dictum sempus elit curabitur ipsum. Ametpellentum. <a href="#">Continue Reading &raquo;</a></p>
          </div>
        </li>
        <li><img src="{% static 'images/4.jpg' %}" alt="" />
          <div class="panel-overlay">
            <h2>This will increase the performance of student</h2>
            <p></a></p>
          </div>
        </li>
      </ul>
    </div>
    <!-- ###### -->
    <div class="intro clear">
      <div class="welcome clear"><img class="imgl" src="{% static 'images/log.jpg' %}" alt="" width="100" height="100" />
        <div class="fl_right">
          <h2>Welcome to Baza</h2>
          <p>Baza is here to help student in their daily activities in each level your are in order to share academic information so don't wait</p>
        </div>
      </div>
      <div class="popular">
        <h2>Most Popular Schools</h2>
        <ul class="clear">
          <li><a href="#">&raquo; Visiting the University Of Rwanda</a></li>
          <li><a href="#">&raquo; Riviera High School</a></li>
          <li><a href="#">&raquo; University Of Rwanda- College of Science and Techology </a></li>
          <li><a href="#">&raquo; Green Hills Academy</a></li>
          <li><a href="#">&raquo; Hope Accademy</a></li>
          <li><a href="#">&raquo; Mount Kenya University</a></li>
        </ul>
      </div>
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="homepage" class="clear"> 
      <!-- ###### -->
      <div id="content">
        <div id="top_featured" class="clear">
          <ul class="clear">
            <li>
              <h2>Science</h2>
              <img src="" alt="" />
              <p>Every Question about science scince we are able to solve them whether it's math or chemistry and others you will get your answer in a short time</p>
              
            </li>
            <li class="last">
              <h2>Arts</h2>
              <img src="" alt="" />
              <p>Baza allow every one to share information through questions and others. It's not only science even arts so don't wait </p>
              
            </li>
          </ul>
        </div>
        <div id="latestnews">
          <h2>Latest News &amp; Events</h2>
          <ul>
            <li>
              <p><strong>All valuable Projects we are able to look for investors </strong><br />
              just post it its simple and easy  just go <a href="">Supportable Projects</a></p>
              
            </li>
            <li>
              <p><strong>Sentumquisque morbi dui congue tincidunt eu quis</strong><br />
                You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files. For more CSS templates visit Free Website Templates</a>&hellip;</p>
              
            </li>
            <li class="last">
              <p><strong>Sentumquisque morbi dui congue tincidunt eu quis</strong><br />
                Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor&hellip;</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- ###### -->
      <div id="column">
        <div class="holder">
          <h2>Take The Virtual Tour</h2>
          <!-- Begin Flash Here - This is the correct method for W3C validation -->
          <object type="application/x-shockwave-flash" data="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" width="300" height="250">
            <param name="movie" value="https://www.youtube.com/v/vxAU88LxLis?version=3&amp;hl=en_US&amp;fs=1&amp;rel=0" />
            <param name="wmode" value="opaque" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#E9E9E9" />
            <param name="allowfullscreen" value="false" />
            <param name="allowscriptaccess" value="never" />
          </object>
          <!-- End Flash Here -->
          <p>Aliquatpede id pellus elit quis in nec consectetuer mattis duis in. Ipsumet ris morbi quis ac nulla aenean trisuscelerit nonummy augue et.</p>
          <p class="readmore"><a href="#">Apply To The University Today &raquo;</a></p>
        </div>
        <div class="holder last">
          <h2>Student &amp; Staff Representatives</h2>
          <ul class="staffmembers">
            <li class="clear"><img class="imgl" src="" alt="" />
              <div class="fl_left">
                <p><strong>Principals Name Here</strong></p>
                <p>Principal / Headmaster</p>
                <p><a href="#">View Full Profile &raquo;</a></p>
              </div>
            </li>
            <li class="clear"><img class="imgl" src="" alt="" />
              <div class="fl_left">
                <p><strong>Another Name Goes Here</strong></p>
                <p>Head of Student Access</p>
                <p><a href="#">View Full Profile &raquo;</a></p>
              </div>
            </li>
            <li class="clear"><img class="imgl" src="" alt="" />
              <div class="fl_left">
                <p><strong>Yet Another Name Here</strong></p>
                <p>Student Union Representative</p>
                <p><a href="#">View Full Profile &raquo;</a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- ###### --> 
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->
{% endblock content %}